# Workflow for creating a Nexus tag
name: Nexus Tag Create
run-name: 'Nexus create tag workflow #${{ github.run_number }} triggered by ${{ github.actor }}'

on:
  workflow_call:
    secrets:
      NEXUS3_PW:
        required: true
    inputs:
      name:
        description: 'The tag name to create'
        type: string
        required: true
      kind:
        description: 'Component kind for display (e.g. docker, helm, npm)'
        type: string
        required: true
  workflow_dispatch:
    inputs:
      name:
        description: 'The tag name to create'
        type: string
        required: true

env:
  NEXUS3_URL: ${{ vars.NEXUS3_URL }}
  NEXUS3_USER: ${{ vars.NEXUS3_USER }}

jobs:
  tag:
    name: Tag (${{ inputs.kind }})
    runs-on: ubuntu-latest
    steps:
      # https://help.sonatype.com/en/tagging.html
      - name: Create Nexus Tag
        run: |
          curl -fSs -X POST \
            --url '${{ env.NEXUS3_URL }}/service/rest/v1/tags' \
            -u '${{ env.NEXUS3_USER }}:${{ secrets.NEXUS3_PW }}' \
            --header 'content-type: application/json' \
            --data '{"name":"${{ inputs.name }}"}'
